<div class="card cell small-3">
  <div class="card-divider">
    <h2 class="card-title">
      <%= title %>
    </h2>
  </div>
  <div class="grid-x">
      <ul>
        <li> <%= recommendations[0] %> </li>
        <li> <%= recommendations[1] %> </li>
        <li> <%= recommendations[2] %> </li>
      </ul>
  </div>
</div>